.containerSidebar{
    position: fixed!important;
    background-color: #181c1f;
    width: 20%;
    height: 100%;
}

.logo{
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.containerMap{
    position: fixed;
    margin-left:20%;
}
