.container-locations {
    width: 90%;
    margin: 10px 5%;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    color: rgba(0,0,0,0.6);
}

tr {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

td, th {
    padding: 15px 10px;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}